<nav>
    <h1>TP Angular</h1>
    <ul>
        <li><a routerLink="/CvTech" routerLinkActive="active">CV</a></li>
        <li><a routerLink="/color" routerLinkActive="active">Color</a></li>
        <li><a routerLink="/Ex2" routerLinkActive="active">Carte visite</a></li>
        <li><a routerLink="/Ex6" routerLinkActive="active">Miniword</a></li>
        <li><a routerLink="/Forms" routerLinkActive="active">Forms</a></li>
        <li><a routerLink="/Ex3" routerLinkActive="active">Child/Parent</a></li>
        <li><a routerLink="/Carousel" routerLinkActive="active">Carousel</a></li>
      </ul>
  </nav>